{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Dashboard</h1>
    <p class="text-center">Navigate easily to manage data.</p>
    <div class="d-flex flex-wrap justify-content-center mt-4 gap-2">
        <a href="{% url 'microzones' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Microzones</a>
        <a href="{% url 'county-list' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Counties</a>
        <a href="{% url 'city-list' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Cities</a>
        <a href="{% url 'neighborhood-list' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Neighborhoods</a>
        <a href="{% url 'street-list' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Streets</a>
        <a href="{% url 'courier-list' %}" class="btn btn-primary flex-fill text-center" style="max-width: 200px;">Manage Couriers</a>
    </div>
</div>
{% endblock %}
