{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Courier Logistics</h1>
    <p class="lead">
        This application is designed to manage logistics data, including cities, neighborhoods, streets, and couriers.
    </p>

    <ul class="list-unstyled">
        <li><strong>Counties:</strong> Zoom into your City.</li>
        <li><strong>Cities:</strong> Add or view cities where deliveries are made.</li>
        <li><strong>Neighborhoods:</strong> Organize and manage neighborhoods in each city.</li>
        <li><strong>Streets:</strong> Record and manage street details, including numbers and neighborhoods.</li>
        <li><strong>Couriers:</strong> Assign couriers to specific neighborhoods and manage their information.</li>
    </ul>
    <p>
        Make everything easier.
    </p>
    <a class="btn btn-primary btn-lg mt-3">Login</a>

</div>
{% endblock %}
