{% extends "base.html" %}

{% block content %}
<h2>Neighborhood List</h2>
<ul class="list-group">
    {% for neighborhood in neighborhoods %}
    <li class="list-group-item">
        <a href="{% url 'neighborhood-detail' neighborhood.id %}">{{ neighborhood.name }}</a> ({{ neighborhood.city.name }})
        <a class="btn btn-warning" href="{% url 'neighborhood-edit' neighborhood.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'neighborhood-delete' neighborhood.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a class="btn btn-primary mt-3" href="{% url 'neighborhood-add' %}">Add New Neighborhood</a>
{% endblock %}
